<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDFGaG9mbdeTQp79K-tGmiEetMVM8xTPoU</string>
	<key>GCM_SENDER_ID</key>
	<string>757505501074</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.wadjet.codeblurb</string>
	<key>PROJECT_ID</key>
	<string>codeblurb-492f1</string>
	<key>STORAGE_BUCKET</key>
	<string>codeblurb-492f1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:757505501074:ios:498ab1c7eba597cec5434b</string>
</dict>
</plist>